.left,.right{
  height: 50vh;
  width: 100%;
}

@media screen and (min-width:768px)
{
  .left,.right{
    height: 100vh;
  }
}
.cardcontainer{
  padding:10px 20px;
  transition: all .5s;
  overflow: hidden;
}


.galleryImg{
  height:70vh;
  width:70%;
  transform-origin: 50% 50%;
  transition: transform 0.5s linear;
  
}

 .galleryImg:hover{    
  transform: scale(2) rotate(0.1deg);
}


body{
    background-color: #242f3e;
    
}

h4{
  color: #fff;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 10px;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #232c38;
}