body{
    background-color: #242f3e;
    
}

h4{
  color: #fff;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 10px;
    list-style-type: none;
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #232c38;
}